@page
@model MyScriptureJournalRazorPages.Pages.Entries.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="mt-4">@ViewData["Title"]</h1>

    <div>
        <h4>Entry</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">Scripture Reference</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Entry.ScriptureReference)</dd>

            <dt class="col-sm-3">Entry Date</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Entry.EntryDate)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Entry.Notes)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Entry.Notes)</dd>
        </dl>
    </div>

    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Entry.Id" class="btn btn-primary">Edit</a>
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
